body{
	background: #73C2FF;
	margin:0; 
	padding:0;
}
header  {

	position:fixed;
	height: 80px;
	margin:auto;
	z-index:2;
	width:100%;
	background-color: #FFEAAD;
	box-shadow: 2px 2px 2px black;

}

footer {
box-shadow: 2px -2px 2px black;
	position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background:#FFC4AD;
   

}

#feed {margin-left:200px;}



#title h1{
	margin-top: 17px;
    text-align: center;
}

#contactinfo {
	text-align: right;
	

}
#contact {
	text-align: right;
	margin-top: -74px;
	margin-right: 10px;

}

#donatebutton{
	
	width:100px;
	height:40px;


}



.menu_div ul
{
    z-index: 1;
	position:fixed;
	left:0px;
	top:80px;
	height:202px;
	width:120px;
    padding:0px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#FFF;
    list-style:none;
    text-indent:8px;
box-shadow: 2px 2px 2px black;
}
.menu_div ul li
{
    background:#3f3f3f;
    line-height:28px;
        border-bottom:1px solid #333;
}
.menu_div ul li a
{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li a:hover
{
    background:#FFC4AD;
}
.menu_div ul li#active
{
    background:#FFC4AD;
}
`
#esc{
	z-index:3;
	position:fixed;
	left:0px;
	top:0px;
	height:80px;
	width:120px;
	background-color: white;
}
#escbutton{
	margin-top: 10px;
	margin-left:10px;
	height:60px;
}

#linkescape {
	margin-left: 15px;
	color: black;
}

#footercontact {
	margin-top: 3px;
	margin-left: 300px;
}
#footerhours {

margin-top: -45px;
margin-left: 800px;

}