body {
background:#73C2FF;
margin:0;
padding:0;
}

#main {
	background-color: white;
	width: 800px;
	height: 100%;
	margin: auto;
	padding-top: 50px;
}

#header {
position:fixed;
height:60px;
z-index:2;
width:100%;
background-color:#FFEAAD;
box-shadow:2px 2px 2px #000;
margin:auto;
}

#footer {
box-shadow:2px -2px 2px #000;
position:relative;
left:0;
bottom:0;
height:60px;
width:100%;
background:#FFC4AD;
}

#feed {
margin-top: 50px;
margin-left:30px;
}

#title1  {
margin-top:18px;
text-align:center;
}

#contactinfo {
text-align:right;
}

#contact {
text-align:right;
margin-top:-65px;
margin-right:10px;
}

#donatebutton {
margin-left: 130px;
margin-top: -53px;
width:100px;
height:40px;
}

.menu_div ul {
z-index:1;
position:fixed;
left:0;
top:60px;
height:202px;
width:120px;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#FFF;
list-style:none;
text-indent:8px;
box-shadow:2px 2px 2px #000;
margin:0;
padding:0;
}

.menu_div ul li {
background:#3f3f3f;
line-height:28px;
border-bottom:1px solid #333;
}

.menu_div ul li a {
text-decoration:none;
color:#FFF;
display:block;
}


#esc {
z-index:4;
position:fixed;
left:0;
top:0;
height:60px;
width:120px;
background-color:#73C2FF
}

#escbutton {
margin-top:5px;
margin-left:5px;
height:50px;
}

#linkescape {
margin-left:15px;
color:#000;
}

#footercontact {
margin-top:3px;
margin-left:300px;
}

#footerhours {
margin-top:-45px;
margin-left:800px;
}

.menu_div ul li a:hover,.menu_div ul li#active {
background:#FFC4AD;
}